<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    &times;
  </button>
  <h4 class="modal-title" id="addTaskLabel">
    Create a New Task
  </h4>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="taskname">Task Name</label>
      <input class="form-control" id="taskname" type='text' ng-model="task.taskName" placeholder="Task Name">
    </div>
    <div class="form-group">
      <label for="createdby">Created By</label>
      <input class="form-control" id="createdby" type='text' ng-model="task.createdBy" placeholder="Created By">
    </div>
    <div class="form-group">
      <label for="project">Project</label>
      <input class="form-control" id="project" type='text' ng-model="task.project" placeholder="Project">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input class="form-control" id="description" type='text' ng-model="task.description" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="value">Value</label>
      <input class="form-control" id="value" type='text' ng-model="task.value" placeholder="Value">
    </div>
    <div class="form-group">
      <label for="pluses">Pluses</label>
      <input class="form-control" id="pluses" type='text' ng-model="task.pluses" placeholder="Pluses">
    </div>
    <div class="form-group">
      <label for="tasktype">Task Type</label>
      <input class="form-control" id="tasktype" type='text' ng-model="task.taskType" placeholder="Task Type">
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input class="form-control" id="status" type='text' ng-model="task.status" placeholder="Status">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Commit</button>
</div>
