<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    &times;
  </button>
  <h4 class="modal-title" id="addTaskLabel">
    Create a New Task
  </h4>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="taskname">Task Name</label>
      <input class="form-control" id="taskname" type='text' ng-model="task.taskName" placeholder="Task Name">
    </div>
    <div class="form-group">
      <label for="project">Project</label>
      <input class="form-control" id="project" type='text' ng-model="task.projectBelongs" placeholder="Project belongs to">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" ng-model="task.description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="value">Value</label>
      <input class="form-control" id="value" type='text' ng-model="task.value" placeholder="Task Value">
    </div>
    <div class="form-group">
      <label for="pluses">Pluses</label>
      <div id="pluses" class="text-center" style="margin-bottom:6px">
        <button class="btn btn-info btn-xs" ng-click="add_a_plus()">Add a plus</button>
      </div>
      <div ng-repeat="plus in task.pluses">
        <input class="form-control" type='text' style="width:80%;display:inline" ng-model="task.pluses[$index].description" placeholder="Description">
        <input class="form-control" type='text' style="width:19%;display:inline" ng-model="task.pluses[$index].value" placeholder="Value">
      </div>
    </div>
    <div class="form-group">
      <label for="tasktype">Task Type</label>
      <select class="form-control" id="tasktype" ng-model="task.taskType">
        <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Commit</button>
</div>
